* {
	background-color: #D2EFED;
}

h2 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

li {
	display: inline;
}

.menu {
	padding: 5px 5px 5px 5px;
	margin: 0em;
	background-color: lightblue;
	border:2px solid Tomato;
}

.parrafoprincipal {
	display: inline-block;
	border:2px solid Tomato;
	background-color: lightblue;
	width: 40%;
	padding: 1em;
	margin: 0em;
	text-align: justify;
}

.marcofoto {
	width: 40%;
	display: inline-block;
}

.foto{
	width: 100;
	height: 100;
}

.noticias{
	align-content: horizontal
	margin: auto;
}

.noticia1 {
	display: inline-block;
	border:2px solid Tomato;
	width: 30%;
	background-color: #D9FCDA;
}

.noticia2 {
	display: inline-block;
	border:2px solid Tomato;
	width: 30%;
	background-color: #F9F0D1;
}

.noticia3 {
	display: inline-block;
	border:2px solid Tomato;
	width: 30%;
	background-color: ##6E9FFD;
}

div.footer {
	border:2px solid Tomato;
	width: 100%;
	background-color: ##6E9FFD;
}